build --dynamic_mode=off
build --force_pic

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_download_toplevel
build --nobuild_runfile_links
build --remote_timeout=3600
build --remote_executor=grpcs://remote.buildbuddy.io

# Don't need java
#build:remote --host_javabase=@rbe_default//java:jdk
#build:remote --javabase=@rbe_default//java:jdk
#build:remote --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
#build:remote --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8

# Platform flags:
# The toolchain container used for execution is defined in the target indicated
# by "extra_execution_platforms", "host_platform" and "platforms".
# More about platforms: https://docs.bazel.build/versions/master/platforms.html
build --extra_execution_platforms=@rbe_default//config:platform
build --host_platform=@rbe_default//config:platform
build --platforms @zig_sdk//platform:linux_x86_64
build --jobs=500

build --incompatible_enable_cc_toolchain_resolution
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_strict_action_env=true

# Compilation Flags
build -c opt
build --strip=always

# Fully statically linked with musl would be nice, but it doesn't work with clang out of the box.
#build:remote --extra_toolchains @zig_sdk//toolchain:x86_64-linux-musl
build --extra_toolchains @zig_sdk//toolchain:x86_64-linux-gnu.2.18

# Set a higher timeout value, just in case.
build --remote_timeout=3600
